---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
);
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
	</head>
	<body>
		<Header/>
		<main> 
			<script defer src="https://cdn.customgpt.ai/js/chat.js"></script> <script defer> (function(){ function init(){ CustomGPT.init({ p_id:'58128', p_key:'af07c95bed312974272f0988474bf828' }) } document.readyState === 'complete' ? init() : window.addEventListener('load', init); })(); </script> 
			<h1>Programming Tales</h1>
			<ul>
				{posts.map((post) => (
					<li>
						<a href={post.url}>{post.frontmatter.title}</a>
						<time class="date" datetime={post.frontmatter.publishDate}>
							{new Date(post.frontmatter.publishDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}
							</time>
					</li>
				))}
			</ul>
		</main>
		<Footer/>
	</body>
</html>


<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: 0 auto;
		padding: 1rem;
		max-width: 60ch;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	li > a {
        text-decoration: none;
        font-size: 1rem;
    }

    time {
        font-size: 0.875rem;
        font-style: italic;
    }

</style>
