---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
);
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
	</head>
	<!-- Google tag (gtag.js) -->
	<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-SV0J7CD5HY"></script>
	<script type="text/partytown">
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'G-SV0J7CD5HY');
	</script>
	<body>
		<Header/>
		<main>
			<h1>Programming Tales</h1>
			<ul>
				{posts.map((post) => (
					<li>
						<a href={post.url}>{post.frontmatter.title}</a>
						<time class="date" datetime={post.frontmatter.publishDate}>
							{new Date(post.frontmatter.publishDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}
							</time>
					</li>
				))}
			</ul>
		</main>
		<Footer/>
	</body>
</html>


<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: 0 auto;
		padding: 1rem;
		max-width: 60ch;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	li > a {
        text-decoration: none;
        font-size: 1rem;
    }

    time {
        font-size: 0.875rem;
        font-style: italic;
    }

</style>
